################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/LaytonScriptTool/obj/x86/Debug
/.vs/LaytonScriptTool/v16/Server/sqlite3
/LaytonScriptTool/bin/Debug
